
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#message-conteneur {
  margin:-100px 0 0 -200px;
  position:absolute;
  width:328px;
  height:140px;
  left:50%;
  top:50%;
}

#message-conteneur p {
  text-align: center;
  margin-top: 15%;
}
