
html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

#iut-logo-conteneur {
  width: 100%;
  height: 30%;
}

#iut-logo {
  height: 200px;
  width: 400px;
  margin: 0 auto;
}

#session-conteneur,
#envoi-conteneur {
  height: 100%;
  width: 50%;
}

#session-conteneur
{
  float: left;
}

#envoi-conteneur {
  float: right;
}

#session-conteneur div,
#envoi-conteneur div {
  height: 150px;
  width: 150px;
  margin: 0 auto;
  margin-top: 20%;
}

#session-conteneur button,
#envoi-conteneur button {
  border: none;
  width: inherit;
  height: inherit;
  margin: 0 auto;
  color: white;
  font-weight: bold;
}

#session-conteneur button {
  background-color: #d73362;
}

#envoi-conteneur button {
  background-color: #0093d2;
}
